# Logs
docs/hardware-in-hft/app/logs
docs/hardware-in-hft/app/*.log
docs/hardware-in-hft/app/npm-debug.log*
docs/hardware-in-hft/app/yarn-debug.log*
docs/hardware-in-hft/app/yarn-error.log*
docs/hardware-in-hft/app/pnpm-debug.log*
docs/hardware-in-hft/app/lerna-debug.log*

docs/hardware-in-hft/app/node_modules
docs/hardware-in-hft/app/dist
docs/hardware-in-hft/app/dist-ssr
docs/hardware-in-hft/app/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?